main-page {

  ion-list {
    margin-top: 0px !important;
  }

  .alert {
    padding: 5px;
    font-size: 20px;
    color: white;

    &.lower {
      background-color: color($colors, danger);
    }

    &.greater {
      background-color: color($colors, secondary);
    }
  }

}
