<ion-header>
  <ion-navbar color="light">
    <ion-title>Calculadora de Financiación</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="form">

    <!-- Main Form -->
    <ion-list inset>

      <ion-item>
        <ion-label floating>Costo Propiedad</ion-label>
        <ion-input type="number" clearInput formControlName="cost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Inicial</ion-label>
        <ion-input type="number" [value]="init" readonly="readonly"></ion-input>
      </ion-item>

      <h4>Financiación</h4>

      <ion-item>
        <ion-label floating>Pago Adelantado</ion-label>
        <ion-input type="number" formControlName="prepayment"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Cantidad de Cuotas</ion-label>
        <ion-input type="number" formControlName="feeQty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Costo de Cuota</ion-label>
        <ion-input type="number" formControlName="feeCost"></ion-input>
      </ion-item>

      <ion-item></ion-item>

    </ion-list>

    <div class="alert lower" text-center *ngIf="rest > 0">Faltan {{ rest | currency }}</div>

    <div class="alert greater" text-center *ngIf="rest < 0">Sobran {{ rest | currency }}</div>

    <!-- Extras Form -->
    <h3>Cuotas Especiales</h3>

    <div formArrayName="extraFees">

      <div *ngFor="let fee of extraFees.controls; let i = index" [formGroupName]="i" style="margin-top: 25px">

        <h4>Cuota Especial # {{i}} <button ion-button small color="danger" float-right (click)="removeExtraFee(i)">eliminar</button></h4>

        <ion-item>
          <ion-label floating>Nombre de Cuota:</ion-label>
          <ion-input type="string" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Costo de Cuota:</ion-label>
          <ion-input type="number" formControlName="cost"></ion-input>
        </ion-item>

      </div>

    </div>

  </form>

  <!-- Fab Button -->
  <ion-fab right bottom #fab>
    <button ion-fab color="primary"><ion-icon name="menu"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="refresh(fab)"><ion-icon name="refresh"></ion-icon><ion-label>Limpiar Formulario</ion-label></button>
      <button ion-fab (click)="addExtraFee(fab)"><ion-icon name="calendar"></ion-icon><ion-label>Agregar Cuota Especial</ion-label></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
